/*<meta />*/

@font-face 
{
	font-family: 'Inter';
	src: url(../Fonts/Inter-VariableFont_slnt,wght.ttf);
}

@font-face 
{
	font-family: 'Fira Code';
	src: url(../Fonts/FiraCode-VariableFont_wght.ttf);
}

body
{
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
	mc-hyphenate: never;
	color: #002041;
	line-height: normal;
	font-size: 14px;
}

html.home-topic .main-section > .outer-row	/*Overrides padding set in the skin when in tablet/mobile*/
{
	max-width: 100%;
	padding: 0;
}

h1
{
	font-weight: bold;
	padding-top: 6px;
	orphans: inherit;
	widows: inherit;
	font-family: Inter, Arial, Helvetica, sans-serif;
	color: #6e37fa;
	font-size: 1.5em;
}

h2
{
	padding-top: 6px;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.4em;
	color: #2765f0;
}

h3
{
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	font-style: italic;
	padding-top: 6px;
	color: #32bbb9;
}

h4
{
	padding-top: 6px;
	widows: inherit;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	color: #ff9408;
}

h5
{
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 1.1em;
	color: #f40953;
}

h6
{
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	font-style: italic;
	color: #002041;
}

p
{
	line-height: normal;
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
	font-size: 1em;
}

p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #FFFFFF;
}

p.note
{
	background-image: url('../images/noteicon.png');
	background-repeat: no-repeat;
	border: solid 1px #002041;
	border-radius: 3px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 1em;
	padding-left: 40px;
	width: auto;
	color: #002041;
	mc-auto-number-format: '{b}{color #32BBB9}Note: {/color}{/b}';
}

ol,
ul
{
	letter-spacing: .25;
	line-height: 20pt;
}

a.Popup
{
	color: #6E37FA;
}

img
{
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

img.AbsolutePosition
{
	padding: 5px;
}

img.TallThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border: solid 1px #6E37FA;
	mc-thumbnail-max-width: 200px;
}

img.WideThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	mc-thumbnail-max-width: 200px;
	border: solid 1px #6E37FA;
}

img.FiftyPercentThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	mc-thumbnail-max-width: 100px;
	border: solid 1px #6E37FA;
}

img.Hyperlinked
{
	border-style: none;
}

img.OneHundredPercentThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	mc-thumbnail-max-width: 100px;
	border: solid 1px #6E37FA;
}

img.ReduceButtonSize
{
	max-height: 25px;
}

img.SeventyFivePercent
{
	padding: 10px;
}

div.home-layout
{
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
}

div.home-section
{
	border-bottom: solid 1px #F7F7F9;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 0%;
	padding-bottom: 0%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #F7F7F9;
}

a:link
{
	color: #6E37FA;
}

a:visited
{
	color: #6E37FA;
}

a:focus
{
	color: #6E37FA;
}

a:hover
{
	color: #6E37FA;
}

a:active
{
	color: #6E37FA;
}

div.topic-hero
{
	padding: 0%;
	background-image: url('../images/hero-background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

div.topic-hero h1
{
	color: #FFFFFF;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 48pt;
	text-align: center;
}

div.home-tiles	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles::before
{
	content: ' ';
	display: table;
}

div.home-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #F7F7F9;
	padding: 2%;
}

div.home-tiles > div:nth-child(1)
{
	width: 48%;
	margin-left: 0%;
}

div.home-tiles > div:nth-child(2)
{
	width: 48%;
	margin-left: 4%;
}

div.home-tiles-layout	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.home-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.home-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.home-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.home-tiles-layout > div:nth-child(1)
{
	width: 33.33333%;
	margin-left: 0%;
}

div.home-tiles-layout > div:nth-child(2)
{
	width: 66.66667%;
	margin-left: 0%;
}

div.home-tiles-layout p
{
	line-height: 1.2;
}

div.quick-links	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: auto;
}

div.quick-links::before
{
	content: ' ';
	display: table;
}

div.quick-links::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.quick-links > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.quick-links > div:nth-child(1)
{
	width: 16.66666%;
	margin-left: 2%;
}

div.quick-links > div:nth-child(2)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(3)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(4)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links > div:nth-child(5)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.quick-links *	/*Text-align center set to all elements within div.quick-links*/
{
	text-align: center;
}

div.home-footer
{
	padding: 2% 5%;
	background-color: #ffffff;
}

a.MCBreadcrumbsLink:visited
{
	color: #6E37FA;
}

a.MCBreadcrumbsLink:hover
{
	color: #6E37FA;
}

a.MCBreadcrumbsLink
{
	color: #6E37FA;
}

a.GlossaryPageTerm
{
	color: #6E37FA;
}

pre
{
	color: #002041;
	mc-disable-glossary-terms: true;
	mc-hyphenate: never;
	border-style: solid;
	white-space: pre-wrap;
	display: block;
	font-size: 0.8em;
	page-break-inside: auto;
	margin-left: auto;
	margin-right: auto;
	font-family: "Fira Code", monospace, courier;
	background-color: #F7F7F9;
	border-left-style: solid;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0;
	margin-bottom: 0;
}

ul
{
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
	line-height: normal;
}

ol
{
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
	line-height: normal;
}

li
{
	line-height: normal;
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
	font-size: 1em;
}

li p
{
	white-space: pre-wrap;
}

tr
{
	page-break-inside: auto;
}

td p
{
	font-size: .9em;
}

p.ManualTitle1
{
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin-bottom: 0;
	font-weight: bold;
	font-style: normal;
	color: #6E37FA;
}

i
{
	
}

span.SearchHighlight
{
	background-color: #beb4ff;
}

span.SearchHighlight1
{
	background-color: #beb4ff;
}

span.SearchHighlight10
{
	background-color: #beb4ff;
}

span.SearchHighlight9
{
	background-color: #beb4ff;
}

span.SearchHighlight8
{
	background-color: #beb4ff;
}

span.SearchHighlight7
{
	background-color: #beb4ff;
}

span.SearchHighlight6
{
	background-color: #beb4ff;
}

span.SearchHighlight5
{
	background-color: #beb4ff;
}

span.SearchHighlight4
{
	background-color: #beb4ff;
}

span.SearchHighlight3
{
	background-color: #beb4ff;
}

span.SearchHighlight2
{
	background-color: #beb4ff;
}

div.miniToc::before
{
	content: "Subtopics...";
	font-weight: bold;
}

p.MiniTOC1
{
	font-size: .9em;
}

p.MiniTOC2
{
	font-size: .9em;
}

p.MiniTOC3
{
	font-size: .9em;
}

p.MiniTOC4
{
	font-size: .9em;
}

p.MiniTOC5
{
	font-size: .9em;
}

p.ManualTitle2
{
	font-weight: bold;
	font-style: normal;
	color: #2765f0;
}

a
{
	color: #5528d2;
	font-family: "Inter Light", Arial, Helvetica, sans-serif;
}

code
{
	font-family: "Fira Code", monospace, courier;
}

kbd
{
	font-family: "Fira Code", monospace, courier;
}

tt
{
	font-family: "Fira Code", monospace, courier;
}

p.TOC1
{
	color: #002041;
}

p.TOC2
{
	color: #002041;
}

p.TOC3
{
	color: #002041;
}

p.TOC5
{
	color: #002041;
}

p.TOC4
{
	color: #002041;
}

p.TOC6
{
	color: #002041;
}

p.TOC7
{
	color: #002041;
}

div.GlossaryPageHeading
{
	color: #32bbb9;
}

div.GlossaryPageTerm
{
	color: #2765f0;
}

p.Index1
{
	color: #002041;
}

p.IndexHeading
{
	color: #32bbb9;
}

td
{
	font-size: 0.9em;
}

div
{
	
}

div::after
{
	
}

div.menu	/*This is a custom responsive layout row style (div class) in your stylesheet. To provide your own description for this style: (1) Open the stylesheet; (2) Find and select the div class with this name; and (3) In the Comment field, replace this text with your own. For more information on adding comments to styles, see the online Help.*/
{
	mc-grid-row: true;
	margin-left: auto;
	margin-right: 100 px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #4228d6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #4228d6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #4228d6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.menu::before
{
	content: ' ';
	display: table;
}

div.menu::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.menu > div
{
	float: right;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: 100 px;
}

div.menu > div:nth-child(1)
{
	width: 16.66666%;
	margin-left: 2%;
}

div.menu > div:nth-child(2)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.menu > div:nth-child(3)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.menu > div:nth-child(4)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.menu > div:nth-child(5)
{
	width: 16.66666%;
	margin-left: 3%;
}

div.menu *
{
	text-align: left;
}

div.miniToc
{
	font-family: Inter, Arial, Helvetica, sans-serif;
}

@media only screen and (max-device-width: 1279px)
{
	html.home-topic .body-container
	{
		margin-left: 0;
	}

	div.home-tiles > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.home-tiles-layout > div:nth-child(1)
	{
		width: 40%;
		margin-left: 30%;
	}

	div.home-tiles-layout > div:nth-child(2)
	{
		width: 100%;
		margin-left: 5%;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 24%;
		margin-left: 0%;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 24%;
		margin-left: 19%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.menu > div:nth-child(1)
	{
		width: 24%;
		margin-left: 0%;
	}

	div.menu > div:nth-child(2)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.menu > div:nth-child(3)
	{
		width: 24%;
		margin-left: 14%;
	}

	div.menu > div:nth-child(4)
	{
		width: 24%;
		margin-left: 19%;
	}

	div.menu > div:nth-child(5)
	{
		width: 24%;
		margin-left: 14%;
	}
}

@media only screen and (max-device-width: 767px)
{
	div.home-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
	}

	div.home-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-top: 5%;
	}

	div.home-tiles-layout p
	{
		line-height: 1.2;
	}

	div.quick-links > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(3)
	{
		width: 49%;
		margin-left: 0;
	}

	div.quick-links > div:nth-child(4)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.quick-links > div:nth-child(5)
	{
		width: 49%;
		margin-left: 25.5%;
	}

	div.menu > div:nth-child(1)
	{
		width: 49%;
		margin-left: 0;
	}

	div.menu > div:nth-child(2)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.menu > div:nth-child(3)
	{
		width: 49%;
		margin-left: 0;
	}

	div.menu > div:nth-child(4)
	{
		width: 49%;
		margin-left: 2%;
	}

	div.menu > div:nth-child(5)
	{
		width: 49%;
		margin-left: 25.5%;
	}
}

@media print
{
	body
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		mc-hyphenate: never;
		line-height: normal;
	}

	Div.GlossaryPageDefinition
	{
		font-size: 1em;
		color: #002041;
	}

	Div.GlossaryPageHeading
	{
		border-bottom-color: #32BBB9;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		font-size: 1.1em;
		color: #32bbb9;
	}

	Div.GlossaryPageTerm
	{
		font-size: 1em;
		padding-bottom: 10px;
		padding-top: 10px;
		color: #2765f0;
	}

	h1
	{
		border-bottom: none;
		border-bottom-style: none;
		padding-top: 10px;
		mc-auto-number-position: inside-head;
		margin: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		mc-auto-number-class: ChapAutoNum;
		mc-heading-level: 1;
		mc-auto-number-format: 'CH:Chapter {chapnum} ';
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-left: 0;
	}

	h1.Appendix
	{
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
	}

	h1.UserGuideBHeading
	{
		mc-auto-number-position: none;
		mc-heading-level: 0;
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
	}

	h2
	{
		padding-top: 10px;
		margin: 10px;
		padding-bottom: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		mc-auto-number-position: inside-head;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:{chapnum}.{n+} ';
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-left: 0;
		margin-right: 0;
	}

	h3
	{
		padding-bottom: 10px;
		padding-top: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		mc-auto-number-position: inside-head;
		margin: 10px;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n+} ';
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-left: 0;
		margin-right: 0;
	}

	h4
	{
		padding-bottom: 10px;
		padding-top: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		margin: 10px;
		mc-auto-number-position: inside-head;
		mc-auto-number-class: ChapAutoNum;
		mc-auto-number-format: 'CH:{chapnum}.{n}.{n}.{n+} ';
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-right: 0;
		margin-left: 0;
	}

	h5
	{
		padding-bottom: 10px;
		padding-top: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		text-decoration: none;
		mc-auto-number-position: none;
		mc-auto-number-class: ChapAutoNum;
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0;
	}

	h6
	{
		padding: 0px;
		padding-bottom: 10px;
		padding-top: 10px;
		frame-break-after: avoid;
		page-break-before: avoid;
		text-decoration: none;
		font-variant: normal;
		mc-auto-number-position: none;
		margin: 10px;
		mc-auto-number-class: ChapAutoNum;
		column-break-before: avoid;
		column-break-inside: avoid;
		frame-break-before: avoid;
		frame-break-inside: avoid;
		margin-right: 0;
		margin-left: 0;
	}

	ol.LowerAlpha
	{
		
	}

	ol.LowerRoman
	{
		
	}

	p
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		mc-hyphenate: never;
		font-size: 1em;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 1em;
		font-weight: bold;
		color: #002041;
	}

	p.Figure
	{
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		padding-bottom: 10px;
		margin-bottom: 1.12em;
	}

	p.FirstPageOfChapter
	{
		
	}

	p.FrameFooterText
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
	}

	p.FrameFooterText2
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
	}

	p.GlossaryPrintHead
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		mc-heading-level: 1;
		page-break-before: always;
		font-size: 1.5em;
		color: #002041;
	}

	p.IndexHeading
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1.1em;
		padding-top: 16px;
		text-align: left;
		color: #32bbb9;
	}

	p.IndexPrintHead
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		mc-heading-level: 1;
		page-break-before: always;
		font-size: 1.5em;
	}

	p.ManualTitle1
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		margin-right: auto;
		font: Inter;
		padding-top: 100px;
		color: #5a2cd6;
		font-size: 1.75em;
	}

	p.ManualTitle2
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		margin-bottom: 0;
		margin-top: 0;
		font-size: 1.5em;
		margin-left: 0;
		padding-top: 0px;
		color: #2765f0;
		font-weight: normal;
		font-style: normal;
	}

	p.ManualVersionNumber
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1.2em;
		margin-left: 0;
		padding-top: 20px;
		color: #002041;
	}

	p.MiniTOC1
	{
		
	}

	p.TableCaption
	{
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
		color: #ffffff;
	}

	p.TOC1
	{
		font-size: 1em;
		font-weight: bold;
		font-style: normal;
		margin-top: auto;
		margin-bottom: auto;
		font-family: Inter, Arial, Helvetica, sans-serif;
		padding-bottom: 2px;
		padding-top: 10px;
		mc-pagenum-display: all;
		color: #002041;
	}

	p.TOC2
	{
		font-weight: normal;
		margin-left: 0.25in;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		font-family: Inter, Arial, Helvetica, sans-serif;
		padding-bottom: 2px;
		color: #002041;
	}

	p.TOC3
	{
		font-weight: normal;
		margin-left: .5in;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		font-family: Inter, Arial, Helvetica, sans-serif;
		padding-bottom: 2px;
		color: #002041;
	}

	p.TOC4
	{
		font-weight: normal;
		margin-left: .75in;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		font-family: Inter, Arial, Helvetica, sans-serif;
		padding-bottom: 2px;
		color: #002041;
	}

	p.TOCHeading
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		letter-spacing: 0px;
		margin: 0;
		mc-heading-level: 0;
		font-size: 1.4em;
	}

	span.ChapAutoNum
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
		letter-spacing: 0px;
		font-size: inherit;
	}

	span.FigureNum
	{
		font-style: normal;
	}

	span.TableNum
	{
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
	}

	ul
	{
		margin-left: .25in;
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../images/bullet1.png');
	}

	ul.SecondLevel
	{
		list-style-image: url('../images/bullet2.png');
	}

	a.MCBreadcrumbsLink:visited
	{
		color: #6b34ff;
	}

	p.TOC5
	{
		margin-left: 1.0in;
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		padding-bottom: 2px;
		color: #002041;
	}

	p.TOC6
	{
		margin-left: 1.25in;
		margin-bottom: auto;
		margin-top: auto;
		font-size: 1em;
		color: #002041;
	}

	p.TOC7
	{
		margin-left: 1.5in;
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
	}

	p.TOC8
	{
		margin-left: 1.75in;
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		color: #002041;
	}

	p.TOC9
	{
		margin-left: 2.0in;
		font-family: Inter, Arial, Helvetica, sans-serif;
		font-size: 1em;
		margin-bottom: auto;
		margin-top: auto;
		color: #002041;
	}

	code
	{
		font-family: "Fira Code", monospace, courier;
		mc-hyphenate: never;
	}

	p.note
	{
		background-image: url('../images/noteicon.png');
		background-repeat: no-repeat;
		border: solid 1px;
		border-radius: 3px;
		padding-bottom: 10px;
		padding-left: 40px;
		padding-right: 10px;
		padding-top: 10px;
		width: 600px;
		font-size: 1em;
		font-family: Inter, Arial, Helvetica, sans-serif;
		color: #2765f0;
	}

	p.Index1
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index2
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index3
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index4
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index5
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index6
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index7
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index8
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	p.Index9
	{
		font-family: Inter, Arial, Helvetica, sans-serif;
	}

	pre
	{
		font-family: "Fira Code", monospace, courier;
		font-size: 0.8em;
		margin: auto;
		mc-disable-glossary-terms: true;
		mc-hyphenate: never;
		white-space: pre-wrap;
		border-style: solid;
		padding: 4px;
	}

	blockquote.name
	{
		
	}

	blockquote
	{
		
	}

	a.Popup
	{
		color: #6b34ff;
	}

	a.MCBreadcrumbsLink:hover
	{
		color: #6b34ff;
	}

	a.MCBreadcrumbsLink
	{
		color: #6b34ff;
	}

	a.GlossaryPageTerm
	{
		color: #6b34ff;
	}

	a:visited
	{
		color: #6b34ff;
	}

	a:link
	{
		color: #6b34ff;
	}

	a:hover
	{
		color: #6b34ff;
	}

	a:focus
	{
		color: #6b34ff;
	}

	a:active
	{
		color: #6b34ff;
	}

	a
	{
		color: #6b34ff;
	}

	p.CompanyInformation2
	{
		
	}

	ol
	{
		margin-left: .25in;
	}

	img.TallThumbnail
	{
		max-height: 100%;
	}

	img.WideThumbnail
	{
		max-width: 100%;
	}

	img.FiftyPercentThumbnail
	{
		max-width: 50%;
	}

	img.OneHundredPercentThumbnail
	{
		max-width: 100%;
	}

	img.SeventyFivePercent
	{
		max-width: 75%;
	}

	li::marker
	{
		
	}

	img.no-border
	{
		
	}

	h1#prodtitle
	{
		
	}

	h6.Autonumber
	{
		
	}

	h5.Autonumber
	{
		
	}

	h4.Autonumber
	{
		
	}

	h3.Autonumber
	{
		
	}

	h2.Autonumber
	{
		
	}

	h1.Autonumber
	{
		
	}
}

h1#prodtitle	/*product title at top of each html page*/
{
	font-weight: bold;
	font-size: 1.5em;
}

ol.LowerAlpha
{
	
}

ul.SecondLevel
{
	
}

ol.SingleStepList
{
	letter-spacing: .25;
	line-height: 20pt;
	font-family: Inter, Arial, Helvetica, sans-serif;
	line-height: normal;
	font-size: 1em;
	list-style-type: circle;
}

h1.Autonumber
{
	orphans: inherit;
	widows: inherit;
	mc-auto-number-offset: 0;
	mc-auto-number-format: '{n+}        ';
}

h2.Autonumber
{
	padding-top: 6px;
	mc-auto-number-format: '{n}.{n+}        ';
}

h3.Autonumber
{
	padding-top: 6px;
	mc-auto-number-format: '{n}.{n}.{n+}    ';
}

h4.Autonumber
{
	padding-top: 6px;
	widows: inherit;
	mc-auto-number-format: '{n}.{n}.{n}.{n+}    ';
}

h5.Autonumber
{
	mc-auto-number-format: '{n}.{n}.{n}.{n}.{n+}    ';
}

h6.Autonumber
{
	mc-auto-number-format: '{n}.{n}.{n}.{n}.{n}.{n+}    ';
}

pre.prettyprint
{
	
}

p.important
{
	background-image: url('../../images/noteicon.png');
	background-repeat: no-repeat;
	border: solid 1px #002041;
	border-radius: 3px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 10px;
	font-size: 1em;
	padding-left: 40px;
	width: auto;
	mc-auto-number-format: '{b}{color #F40953}Important: {/color}{/b}';
	color: #575757;
}

body.body-container
{
	border: solid 2px #f7f7f9;
}

